SEARCH_DEPTH=10

# Turso Database
DATABASE_URL="file:data/main.db"
DATABASE_AUTH_TOKEN="local"

# Clickhouse
CLICKHOUSE_URL="http://localhost:8125"
CLICKHOUSE_USERNAME="default"
CLICKHOUSE_PASSWORD="password"
CLICKHOUSE_DATABASE="" # leave empty for dev, use the deploymnent branch on prod

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Email Configuration (for production)
# For Gmail, use an app-specific password
EMAIL_USER="your-email@gmail.com"
EMAIL_PASSWORD="your-app-specific-password"
EMAIL_FROM="noreply@yourdomain.com"

# Application
PUBLIC_BASE_URL="http://localhost:5173"

# Resend (emails)
RESEND_API_KEY=

# DataForSEO
DATA_FOR_SEO_LOGIN=
DATA_FOR_SEO_PASSWORD=
DATA_FOR_SEO_TOKEN=
DATA_FOR_SEO_SERP_POSTBACK_URL=
