@layer utilities {
	.btn {
		--control-height: var(--control-size-2-height);
		--control-radius: var(--control-size-2-radius);
		--control-padding-inline: var(--control-size-2-padding-inline);
		@apply row center gap-2.5 py-0;
		height: var(--control-height);
		min-height: var(--control-height);
		border-radius: var(--control-radius);
		padding-inline: var(--control-padding-inline);

		&:not(
			.btn-primary,
			.btn-secondary,
			.btn-info,
			.btn-error,
			.btn-warning,
			.btn-success
		) {
			background-color: inherit;
			border-color: var(--input);
		}
	}

	.btn-large {
		--control-height: var(--control-size-3-height);
		--control-radius: var(--control-size-3-radius);
		--control-padding-inline: var(--control-size-3-padding-inline);
		@apply center gap-2.5;
	}

	.btn-info,
	.btn-error,
	.btn-warning,
	.btn-success {
		border-color: currentColor;
	}

	.btn-error {
		background-color: var(--color-error-content);
		color: var(--color-error);
	}

	.btn-warning {
		background-color: var(--color-warning-content);
		color: var(--color-warning);
	}

	.btn-info {
		background-color: var(--color-info-content);
		color: var(--color-info);
	}

	.btn-success {
		background-color: var(--color-success-content);
		color: var(--color-success);
	}

	.btn-medium {
		--control-height: var(--control-size-1-height);
		--control-radius: var(--control-size-1-radius);
		--control-padding-inline: var(--control-size-1-padding-inline);
		@apply center gap-2.5;
	}
}
